.header{
  padding: 1.5rem 0 0 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  /* width: 100%; */
}

.header_main-page{
    background-color: var(--white);
    border-bottom: var(--center-border);
}

.header__title{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
    padding: 2.5rem 0;
}

.header__top{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__logo-box{
  justify-self: left;
}

.header__logo{
  color: var(--black);
}

.header__toogles{
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 480px){

  .header__title{
    font-size: 1.75rem;
    padding: 3.063rem 0 2rem;
  }

  .header__toogles{
    display: none;
  }

  .header__logo-and-toogles{
    grid-template-columns: 1fr;
  }

  .header__logo-box{
    justify-self: center;
  }
}

.header__top-bar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}
