.header{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  /* width: 100%; */
}

.header_main-page{
    background-color: var(--white);
    border-bottom: var(--center-border);
}

.header__title{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header__top-bar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}
