.header{
  background-color: var(--white);
  padding: 96px 0 160px;
}

.header__title{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header_template{
  /* max-width: 1110px; */
  grid-row: 1;
  grid-column: aside / end;
  align-self: end;
  background-color: var(--grey-0);
  /* height: 7.96vh; */
}
