.tabs{
  position: relative;
}

.tabs__radio-input{
  position: absolute;
  clip: rect(0,0,0,0);
}

.tabs__scroller{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.tabs__label{
  display: block;
  padding-bottom: 13px;
}

.tabs__label:hover{
  border-bottom: var(--tabs-bottom);
}

#all-tab:checked ~ .tabs__scroller label[for="all-tab"]{
  border-bottom: var(--tabs-bottom);
}

#complex-tab:checked ~ .tabs__scroller label[for="complex-tab"]{
  border-bottom: var(--tabs-bottom);
}

#simple-tab:checked ~ .tabs__scroller label[for="simple-tab"]{
  border-bottom: var(--tabs-bottom);
}
