<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <!-- <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../header/header.css"> -->
    <link rel="stylesheet" href="./tabs.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../../03-lection1/01-button/button.css">
    <link rel="stylesheet" href="../../05-lection3/01-tooltip/tooltip.css">
    <title>пробная реализация табов</title>
  </head>
  <body>


    <div class="tabs">
     <input class="tabs__radio-input" type="radio" id="all-tab" name="tabs" checked>
     <input class="tabs__radio-input" type="radio" id="complex-tab" name="tabs">
     <input class="tabs__radio-input" type="radio" id="simple-tab" name="tabs">


   <div class="tabs__scroller">
       <label class="tabs__label" for="all-tab">All components</label>
       <label class="tabs__label" for="complex-tab">Complex</label>
       <label class="tabs__label" for="simple-tab">Simple</label>
   </div>


   <div class="tabs__content tabs__content_complex">

   </div>


   <div class="tabs__content tabs__content_simple">
     <div class="card">
       <button class="button button_primary">Primary</button>
       <button class="button button_primary" disabled>Primary</button>

       <button class="button button_secondary">Secondary</button>
       <button class="button button_secondary" disabled>Secondary</button>

       <button class="button button_alternate">Alternate</button>
       <button class="button button_alternate" disabled>Alternate</button>
     </div>

     <div class="card">
       <div class="tooltip">
          <div class="tooltip__icon">
            <svg width="24" height="24" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
             <use href="../../assets/icons.svg#help"></use>
            </svg>
          </div>
          <div class="tooltip__bubble">Helper Text</div>
       </div>
     </div>


   </div>
</div>
  </body>
</html>
