.tabs{
  position: relative;
  background-color: var(--grey-0);
  /* width: 100%; */
}

.tabs__radio-input{
  position: absolute;
  clip: rect(0,0,0,0);
}

.tabs__scroller{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  overflow: scroll;
  scrollbar-width: none;
}

.tabs__scroller::-webkit-scrollbar{
  display: none;
  border-bottom: 1px solid var(--grey-2);
}

.tabs__scroller_padding-top{
  padding-top: 2rem;
}

.tabs__scroller_white{
  background-color: var(--white);
}

.tabs__label{
  display: block;
  padding-bottom: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-3);
  transition: border 200ms, color 200ms;
  border: var(--tabs-bottom-transparent);
}

.tabs__label-padding-small{
  padding-bottom: 8px;
}

.tabs__content{
  display: none;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
}

.tabs__content-max-height{
  max-height: 400px;
  overflow: scroll;
}

.tabs__label:hover{
  border-bottom: var(--tabs-bottom);
}


/*стилизация состояний активных табов*/
#all-tab:checked  ~  .tabs__scroller  label[for="all-tab"],
#complex-tab:checked  ~  .tabs__scroller  label[for="complex-tab"],
#simple-tab:checked  ~  .tabs__scroller  label[for="simple-tab"],
#html:checked  ~  .tabs__scroller  label[for="html"],
#css:checked  ~  .tabs__scroller  label[for="css"]{
    border-bottom: var(--tabs-bottom);
    color: var(--black);
}

#all-tab:checked  ~  .tabs__content_all,
#complex-tab:checked  ~  .tabs__content_complex,
#simple-tab:checked  ~  .tabs__content_simple,
#html:checked  ~  .tabs__html,
#css:checked  ~  .tabs__css{
    display: flex;
}
/**************************************/

@media screen and (max-width: 390px){
  .tabs__label{
    font-size: 14px;
  }
}
