.centralContent{
   background-color: var(--global-background);
   padding: 62px 0 0 0;
}

.centralContent__inner{
  display: grid;
  grid-template-columns: [start] 1fr [aside] 3fr [end];
  grid-template-rows: 1fr;
  gap: 56px;
}

.centralContent_aside{
  grid-column: start / aside;
}

.centralContent_preview{
  grid-column: aside / end;
}
