.aside__title{
    margin: 0;
    color: var(--aside-font);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 1rem;
  }

.aside__navigation{
    display: flex;
    flex-flow: column;
    align-items: start;
  }

.aside__nav-item{
    text-decoration: none;
    color: var(--aside-font);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 22px;
  }

.aside__nav-item:focus, .aside__nav-item:hover, .aside__nav-item_checked{
    color: var(--orange-0);
  }

.aside__nav-item_empty{
    height: 22px;
  }
}
