.theme-switcher__icon{
  width: 24px;
  height: 24px;
  transform: scale(0.85);
  /* color: var(--white); */
  fill: rgba(0, 0, 0, 0);
  color: var(--theme-block-font);
}

.theme-switcher{
  display: flex;
  gap: 14px;
  align-items: center;
}

@media screen and (max-width: 480px){
  .theme-switcher{
    display: none;
  }
}
