.button{
  padding: 15px 65px;
  border-radius: 8px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border 200ms ease-in-out, color 200ms ease-in-out;
}

.button:disabled{
   pointer-events: none;
   opacity: 0.5;
   cursor: not-allowed;
}

/*стилизация primary button*/
.button_primary{
  background-color: var(--primary);
  color: var(--white);
}

.button_primary:hover{
  background-color: var(--hover-primary);
}


.button_primary:active{
    background-color: var(--blue);
}
/*----------------*/

/*стилизация secondary button*/
.button_secondary{
  background-color: var(--purple);
  color: var(--white);
}

.button_secondary:hover{
  background-color: var(--hover-secondary);
}

.button_secondary:active{
  background-color: var(--purple);
}
/*-----------------------*/


/*стилизация alternate button*/
.button_alternate{
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.button_alternate:hover{
  border: 1px solid #212429;
}

.button_alternate:active{
  background-color: var(--grey-4);
  color: var(--white);
}
/*----------------------*/
