/*Стили основных блоков*/
.base{
  width: 1440px;
  height: 541px;
  background: var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  border: 0px;
  width: 189px;
  height: 48px;
  border-radius: 8px;
}

.label{
  text-align: left;
  line-height: 18px;
  width: 58px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--grey-3);
  text-transform: uppercase;
}
/*------стили основных блоков----------*/


.row__element{
  margin: 0 16px;
}

.main__row{
  text-align: center;
  padding: 8px 0;
}


.lable_display-inline{
    display: inline-block;
}

.label_font-inter{
  font-family: 'Inter', sans-serif;
}


/*цветовая стилизация кнопок*/
/*стилизация цвета шрифтов*/
.button_font-white{
 color: white;
}

.button_font-grey4{
  color: var(--grey-4);
}
/*---------------*/

.disabled{
  opacity: 0.5;
}

.disabled:hover{
  cursor: not-allowed;
}

.cursor_pointer{
  cursor: pointer;
}

/*стилизация кнопок согласно назначения*/
/*кнопки default*/
.button_default-primary{
  background-color: #4263EB;
}

.button_default-secondary{
  background-color: var(--purple);
}

.button_default-alternate{
  background-color: transparent;
  border: 1px solid var(--grey-3);
}
/*кнопки hover*/
.button_hover-primary{
  background-color: #2342C0;
}

.button_hover-secondary{
  background-color: #5028C6;
}

.button_hover-alternate{
  background-color: transparent;
  border: 1px solid #212429;
}
/*---------------*/


/*стили состояния*/
.transition_opacity_background{
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.transition_border{
  transition: border 200ms ease-in-out;
}

/*стилизация состояний главной кнопки*/
.button_primary-hover{
  background-color: #4263EB;
}

.button_primary-hover:hover{
  background-color: #2342C0;
}

.button_primary-hover:active{
  background-color: #4263EB;
}
/*----------------стилизация состояний главной кнопки------------*/
/*стилизация состояний второстепенной кнопки*/
.button_secondary-hover{
    background-color: var(--purple);
}

.button_secondary-hover:hover{
    background-color: #5028C6;
}

.button_secondary-hover:active{
    background-color: var(--purple);
}
/*------стилизация состояний второстепенной кнопки----------*/
/*стилизация состояний алтернативной кнопки*/
.button_alternate-hover{
    border: 1px solid var(--grey-3);
    background-color: white;
}

.button_alternate-hover:hover{
   border: 1px solid #212429;
}

.button_alternate-hover:active{
    border: 1px solid var(--grey-3);
    background-color: white;
}
/*----------стилизация состояний алтернативной кнопки---------*/

.main__row_selected{
  background-color: lightgrey;
  border-radius: 8px;
}
