.card{
  font-size: 1rem;
  box-sizing: border-box;
  padding: 2em 1.5625em;
  display: grid;
  grid-template: 3fr 1fr / 1fr;
  place-items: center;
  width: 350px;
  height: 367px;
  background: var(--elements-background-inner);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.card_justify-streched{
  justify-items: stretch;
}

.card__component{
  border-radius: 12px 12px 0 0;
  grid-row: 1 / 2;
}

.card__component-inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: space-around;
  margin-bottom: 8px;
}

.card__component_full-height{
  height: 100%;
}

.card__component_full-width{
  width: 100%;
}

.card__component_flex-row{
  display: flex;
  flex-flow: row;
  gap: 1.4rem;
}

.card__component_flex-column{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.4rem;
}

.card__description{
  grid-row: 2 / 3;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
  align-self: end;
  gap: 0.375em;
}

.card__title{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--elements-font-color-darker);
}

.card__mini-title{
  margin: 0;
  font-size: 1rem;
  line-height: 1.17rem;
  color: var(--elements-font-color);
}

@media screen and (max-width:480px){
  .card{
    font-size: 0.60rem;
    padding: 0;
    width: auto;
    height: auto;
  }

  .card__component{
    padding: 1em;
    border-bottom: 1px solid var(--grey-2);
    place-self: stretch;
    display: grid;
    align-items: center;
    box-sizing: border-box;
  }

  .card__component-inner{
    column-gap: 3.1rem;
    justify-content: start;
  }

  .card__component_centered{
    place-items: center;
  }

  .card__component_no-padding{
    padding: 0;
  }

  .card__component_align-start{
    align-items: start;
  }

  .card__component_flex-column{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
  }

  .card__description{
    padding: 8px 0;
  }

  .card__title{
    font-size: 16px;
  }

  .card__mini-title{
    font-size: 14px;
    line-height: 22px;
  }
}
