.card{
  font-size: 1rem;
  box-sizing: border-box;
  padding: 2em 1.5625em;
  display: grid;
  grid-template: 3fr 1fr / 1fr;
  justify-items: center;
  align-items: center;
  width: 21.875em;
  height: 22.9375em;
  background: var(--white);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.card_justify-streched{
  justify-items: stretch;
}

.card__component{
  border-radius: 12px 12px 0 0;
  grid-row: 1 / 2;
}

.card__component_full-height{
  height: 100%;
}

.card__description{
  grid-row: 2 / 3;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
  gap: 0.375em;
}

.card__title{
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
}

.card__mini-title{
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
}

@media screen and (max-width:480px){
  .card{
    font-size: 0.68rem;
    padding: 0;
    width: auto;
    height: auto;
  }

  .card__description{
    padding: 8px 0;
  }

}
