body{
  padding: 20px;
}

/* Стилизация аккордеона */
.accordion{
  width: 730px;
  max-height: 144px;
  background-color: white;
  border: 1px solid #ACB5BD;
  border-radius: 8px;
  padding: 10px;
}

.accordion_margin-8{
  margin-bottom: 8px;
}

.accordion_margin-8:last-child {
    margin-bottom: 0;
}

.accordion__item{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/*у меня в firefox and chrome не оказывает эффекта)
пробовал и на .accordion применить*/
/*.accordion__item::-webkit-details-marker {
    display: none;
}*/

.summary{
   max-width: 158px;
   color: black;
}

.summary_display{
  display: block;  /*согласно рекомендации MDN*/
}

.paragraph{
  max-width: 649px;
  color: var(--grey-4);
}
