<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../menu-button/menu-button.css">
    <link rel="stylesheet" href="../theme-switcher/theme-switcher.css">
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../page/page.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../tabs/tabs.css">
    <link rel="stylesheet" href="../preview/preview.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../centralContent/central-content.css">
    <link rel="stylesheet" href="../aside/aside.css">
    <link rel="stylesheet" href="../../09-lection7/01-burger-menu/burger-menu.css">
    <link rel="stylesheet" href="../../07-lection5/03-toggler/toggler.css">
    <link rel="stylesheet" href="../../03-lection1/01-button/button.css">
    <style>
        html[data-theme-dark] {
            background: #000;
        }
    </style>

    <script defer src="../../09-lection7/01-burger-menu/burger-menu.js"></script>
    <script defer src="../../10-lection8/01-theme-changer/theme-changer.js"></script>

    <title>Buttons Element</title>
  </head>


  <body>
    <div class="page page_elements">

      <div class="burger" id="burger-menu">
       <header class="burger__header">
         <button class="burger__close-button" type="button" name="button" id="burger-menu-close">
           <svg class="burger__close-icon">
             <use href="../../assets/icons.svg#close"></use>
           </svg>
         </button>

         <a href="/" class="burger__ancor">
           <svg class="burger__logo">
             <use href="../../assets/icons.svg#logo"></use>
           </svg>
         </a>

       </header>

        <div class="burger__window">

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Elements</h3>
               <a class="burger__reference" href="../tooltip/tooltip.html">Tooltip</a>
               <a class="burger__reference burger__reference_selected"
                href="../button/button.html">Buttons</a>
               <a class="burger__reference" href="../avatar/avatar.html">Avatar</a>
               <a class="burger__reference" href="../checkbox-radio/checkbox-radio.html">Checkbox / Radio</a>
               <a class="burger__reference" href="../toggler/toggler.html">Toggler</a>
               <a class="burger__reference" href="../inputs/inputs.html">Input</a>
            </nav>

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Components</h3>
               <a class="burger__reference" href="../calendar/calendar.html">Calendar</a>
               <a class="burger__reference" href="../modal/modal.html">Modal Window</a>
               <a class="burger__reference" href="../histogram/histogram.html">Histogram</a>
               <a class="burger__reference" href="../accordion/accordion.html">Accordion</a>
               <a class="burger__reference" href="../skeleton/skeleton.html">Skeleton</a>
            </nav>

        </div>
      </div>


      <header class="header">
        <div class="container">

          <div class="header__top-bar">

            <button class="menu-button" type="button" name="button" id="burger-menu-open">
             <svg  class="menu-button__icon">
               <use href="../../assets/icons.svg#menu"></use>
             </svg>
            </button>

            <a class="header__logo-box" href="/">
            <!-- <div class=""> -->
              <svg class="header__logo-elements" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../../assets/icons.svg#main-logo"></use>
              </svg>
            <!-- </div> -->
            </a>

            <div class="header__toogles">
              <div class="header__ancors">
                <a class="header__ancor" href="#">Components</a>
                <a class="header__ancor" href="#">About</a>
                <a class="header__ancor" href="#">Contact</a>
              </div>

               <div class="theme-switcher">
                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#sun"></use>
                  </svg>

                  <label class="toggler">
                    <input class="toggler__element" type="checkbox" id="theme-changer">
                    <div class="toggler__visual">
                       <div class="toggler__switcher">
                       </div>
                    </div>
                  </label>

                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#moon"></use>
                  </svg>
               </div>

            </div>
          </div>

         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="../tooltip/tooltip.html" class="aside__nav-item">Tooltip</a>
              <a href="../button/button.html" class="aside__nav-item aside__nav-item_checked">Buttons</a>
              <a href="../avatar/avatar.html" class="aside__nav-item">Avatar</a>
              <a href="../checkbox-radio/checkbox-radio.html" class="aside__nav-item">Checkbox / Radio</a>
              <a href="../toggler/toggler.html" class="aside__nav-item">Toggler</a>
              <a href="../inputs/inputs.html" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="../calendar/calendar.html" class="aside__nav-item">Calendar</a>
              <a href="../modal/modal.html" class="aside__nav-item">Modal Window</a>
              <a href="../histogram/histogram.html" class="aside__nav-item">Histogram</a>
              <a href="../accordion/accordion.html" class="aside__nav-item">Accordion</a>
              <a href="../skeleton/skeleton.html" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="/" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview">

           <div class="preview__element-visual">
             <h3 class="preview__title">Buttons</h3>
             <button class="button button_primary">Primary</button>
             <button class="button button_primary" disabled>Primary</button>

             <button class="button button_secondary">Secondary</button>
             <button class="button button_secondary" disabled>Secondary</button>

             <button class="button button_alternate">Alternate</button>
             <button class="button button_alternate" disabled>Alternate</button>
           </div>

           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="html" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="css" name="tabs">


            <div class="tabs__scroller tabs__scroller_padding-top
            tabs__scroller_border-bottom preview__tab">
                <label class="tabs__label tabs__label-padding-small" for="html">
                  HTML</label>
                <label class="tabs__label tabs__label-padding-small" for="css">
                  CSS</label>
            </div>

            <div class="tabs__content tabs__html preview__tab-content tabs__content-max-height">

<pre class="hljs" style="display: block; overflow-x: auto; padding: 0.5em; color: rgb(68, 68, 68);">
&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_primary"</span>&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Primary</span>&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_primary"</span> disabled&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Primary</span>&lt;/button&gt;

&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_secondary"</span>&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Secondary</span>&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_secondary"</span> disabled&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Secondary</span>&lt;/button&gt;

&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_alternate"</span>&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Alternate</span>&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"button button_alternate"</span> disabled&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">Alternate</span>&lt;/button&gt;</pre>

            </div>

            <div class="tabs__content tabs__css preview__tab-content tabs__content-max-height">
<pre class="hljs" style="display: block; overflow-x: auto; padding: 0.5em; color: rgb(68, 68, 68);"><span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button</span>{
<span class="hljs-attribute" style="font-weight: 700;">padding</span>:<span class="hljs-number" style="color: rgb(136, 0, 0);">15px</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">15px</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">14px</span>;
<span class="hljs-attribute" style="font-weight: 700;">border-radius</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">8px</span>;
<span class="hljs-attribute" style="font-weight: 700;">border</span>: none;
<span class="hljs-attribute" style="font-weight: 700;">font-family</span>: <span class="hljs-string" style="color: rgb(136, 0, 0);">'Roboto'</span>, sans-serif;
<span class="hljs-attribute" style="font-weight: 700;">font-style</span>: normal;
<span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">500</span>;
<span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">16px</span>;
<span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">19px</span>;
<span class="hljs-attribute" style="font-weight: 700;">cursor</span>: pointer;
<span class="hljs-attribute" style="font-weight: 700;">transition</span>: opacity <span class="hljs-number" style="color: rgb(136, 0, 0);">200ms</span> ease-in-out, background <span class="hljs-number" style="color: rgb(136, 0, 0);">200ms</span> ease-in-out,
border <span class="hljs-number" style="color: rgb(136, 0, 0);">200ms</span> ease-in-out, color <span class="hljs-number" style="color: rgb(136, 0, 0);">200ms</span> ease-in-out;
<span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100%</span>;
}

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:disabled</span>{
                 <span class="hljs-attribute" style="font-weight: 700;">opacity</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.5</span>;
                 <span class="hljs-attribute" style="font-weight: 700;">pointer-events</span>: none;
              }

<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*стилизация primary button*/</span>
<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_primary</span>{
                <span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--blue);
                <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--white);
              }

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_primary</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:hover</span>{
                <span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--primary-hover);
              }

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_primary</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:active</span>{
                  <span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--blue);
              }
<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*----------------*/</span>

<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*стилизация secondary button*/</span>
<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_secondary</span>{
<span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--purple);
<span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--white);
}

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_secondary</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:hover</span>{
<span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--purple-2);
}

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_secondary</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:active</span>{
<span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--purple);
}
<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*-----------------------*/</span>


<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*стилизация alternate button*/</span>
<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_alternate</span>{
<span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--white);
<span class="hljs-attribute" style="font-weight: 700;">border</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1px</span> solid <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--grey-3);
<span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--grey-4);
}

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_alternate</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:hover</span>{
<span class="hljs-attribute" style="font-weight: 700;">border</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1px</span> solid <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--black);
}

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.button_alternate</span><span class="hljs-selector-pseudo" style="color: rgb(188, 96, 96);">:active</span>{
<span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--grey-3);
<span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--white);
}
<span class="hljs-comment" style="color: rgb(136, 136, 136);">/*----------------------*/</span>
</pre>
            </div>

           </div>
          </div>

         </main>


       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
