<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../components/container/container.css">
    <link rel="stylesheet" href="../../components/page/page.css">
    <link rel="stylesheet" href="../../components/header/header.css">
    <link rel="stylesheet" href="../../components/footer/footer.css">
    <link rel="stylesheet" href="../../components/preview/preview.css">
    <link rel="stylesheet" href="../../components/card/card.css">
    <link rel="stylesheet" href="../../components/centralContent/central-content.css">
    <link rel="stylesheet" href="../../components/aside/aside.css">
    <link rel="stylesheet" href="../../components/tabs/tabs.css">
    <link rel="stylesheet" href="../../03-lection1/01-button/button.css">
    <meta charset="utf-8">
    <title>Component page</title>
  </head>


  <body>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__top-bar">
            <div class="header__logo-box">
              <svg class="header__logo" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../assets/icons.svg#main-logo"></use>
              </svg>
            </div>
            <div class="header__toogles">
               <a class="header__ancor" href="#">Components</a>
               <a class="header__ancor" href="#">About</a>
               <a class="header__ancor" href="#">Contact</a>
            </div>
          </div>

          <nav class="header__nav">
          </nav>
         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item">Tooltip</a>
              <a href="#" class="aside__nav-item aside__nav-item_checked">Buttons</a>
              <a href="#" class="aside__nav-item">Avatar</a>
              <a href="#" class="aside__nav-item">Checkbox / Radio</a>
              <a href="#" class="aside__nav-item">Toggler</a>
              <a href="#" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item">Calendar</a>
              <a href="#" class="aside__nav-item">Modal Window</a>
              <a href="#" class="aside__nav-item">Histogram</a>
              <a href="#" class="aside__nav-item">Accordion</a>
              <a href="#" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="#" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview">
           <h3 class="preview__title">Buttons</h3>
           <button class="button button_primary">Primary</button>
           <button class="button button_primary" disabled>Primary</button>

           <button class="button button_secondary">Secondary</button>
           <button class="button button_secondary" disabled>Secondary</button>

           <button class="button button_alternate">Alternate</button>
           <button class="button button_alternate" disabled>Alternate</button>

           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="all-tab" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="complex-tab" name="tabs">
              <input class="tabs__radio-input" type="radio" id="simple-tab" name="tabs">


            <div class="tabs__scroller">
                <label class="tabs__label" for="all-tab">All components</label>
                <label class="tabs__label" for="complex-tab">Complex</label>
                <label class="tabs__label" for="simple-tab">Simple</label>
            </div>


            <div class="tabs__content tabs__content_complex">
            </div>
           </div>
         </main>


       </div>
       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
