.menu-button{
  display: none;
}


@media screen and (max-width: 480px) {
  .menu-button{
    border: none;
    background: none;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  .menu-button__icon{
    width: 24px;
    height: 24px;
  }
}
