/*общая стилизация элемента (неактивного состояния)*/
.toggler{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.toggler__element{
  position: absolute;
  clip: rect(0,0,0,0);
}

.toggler__visual{
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 52px;
  height: 28px;
  background-color: var(--elements-background-inner);
  border: 1px solid var(--checkbox-border);
  border-radius: 17px;
  transition: all 300ms ease-in-out;
}

.toggler__switcher{
  position: absolute;
  left: 2px;
  top: 1px;
  width: 24px;
  height: 24px;
  background-color: var(--switcher-background);
  border-radius: 16px;
  transition: all 400ms ease-in-out;
}

.toggler__label::after{
   content: "Off";
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--elements-font-color);
}


/*визуализацию активного состояния переключателя*/
.toggler__element:focus ~ .toggler__visual{
  box-shadow: inset 0 0 5px 1px var(--elements-focus-background);
}

.toggler__element:focus ~ .toggler__label::after{
  text-decoration: underline;
}

.toggler__element:checked ~ .toggler__visual{
  justify-content: flex-end;
  background-color: var(--switching-elements-prime-bg);
  border: 1px solid var(--switching-elements-prime-bg);
}

.toggler__element:checked ~ .toggler__visual .toggler__switcher{
  background-color: var(--white);
  left: 25px;
}

.toggler__element ~ .toggler__visual .toggler__switcher{
  left: 2px;
}

.toggler__element:checked ~ .toggler__label::after{
  content: "On";
}

.toggler__element:active ~ .toggler__label::after{
  text-decoration: underline;
}

.toggler__element:disabled ~ .toggler__visual{
  background-color: var(--switching-elements-disabled-bg);
}

.toggler__element:disabled ~ .toggler__visual .toggler__switcher{
  background-color: var(--grey-3);
}

.toggler__element:disabled ~ .toggler__label::after{
  content: "Disabled";
}

.toggler__element:disabled:active ~ .toggler__label::after{
  text-decoration: none;
}

@media screen and (max-width: 365px){
  .toggler__label::after{
    font-size: 14px;
    line-height: 20px;
  }
}
