/*общая стилизация элемента (неактивного состояния)*/
.toggler{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.toggler__element{
  position: absolute;
  clip: rect(0,0,0,0);
}

.toggler__visual{
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 52px;
  height: 28px;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 17px;
  transition: all 400ms;
}

.toggler__switcher{
  flex: 0 0 24px;
  height: 24px;
  background-color: var(--grey-2);
  border-radius: 16px;
  transition: all 400ms;
}

.toggler__label::after{
   content: "Off";
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--grey-4);
}


/*визуализацию активного состояния переключателя*/
.toggler__element:focus ~ .toggler__visual{
  box-shadow: inset 0 0 5px 1px var(--purple-3);
}

.toggler__element:focus ~ .toggler__label::after{
  text-decoration: underline;
}

.toggler__element:checked ~ .toggler__visual{
  justify-content: flex-end;
  background-color: var(--purple-3);
  border: 1px solid var(--purple-3);
}

.toggler__element:checked ~ .toggler__visual .toggler__switcher{
  background-color: var(--white);
}

.toggler__element:checked ~ .toggler__label::after{
  content: "On";
}

.toggler__element:active ~ .toggler__label::after{
  text-decoration: underline;
}

.toggler__element:disabled ~ .toggler__visual{
  background-color: var(--grey-2);
}

.toggler__element:disabled ~ .toggler__visual .toggler__switcher{
  background-color: var(--grey-3);
}

.toggler__element:disabled ~ .toggler__label::after{
  content: "Disabled";
}

.toggler__element:disabled:active ~ .toggler__label::after{
  text-decoration: none;
}
