.modal{
  display: none;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--grey-7);
}

.modal__window{
  position: absolute;
  padding: 1.875em 2.5rem 2.0625em;
  max-width: 428px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 8px;
}

/*модификаторвдля отображения на главной странице*/
.modal_preview{
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal__window_preview{
  padding: 0;
  width: 90%;
  height: 90%;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  align-self: center;
  justify-self: center;
  display: grid;
  align-items: center;
  justify-content: center;
}
/*****************************/

.modal__close{
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.96em;
  right: 0.96em;
  cursor: pointer;
}

.modal__text-box{
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 24px;
}

.modal__title{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: var(--grey-5);
}

.modal__text{
  margin: 0;
  font-weight: 400;
  color: var(--grey-4);
}


@media screen and (max-width: 480px){
  .modal__title{
    font-size: 12px;
  }

  .modal__text{
    font-size: 10px;
    line-height: 14px;
  }

  .modal__close{
    width: 0.8rem;
    height: 0.8rem;
  }

  .modal__text-box{
    gap: 10px;
  }
}


/*темная тема*/
html[data-theme-dark] .modal__window{
  background-color: var(--black);
}

html[data-theme-dark] .modal__close,
html[data-theme-dark] .modal__title,
html[data-theme-dark] .modal__text{
  color: var(--font-dark-theme);
}
