.histogram{
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border: var(--grey-3) 1px solid;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.histogram__header{
  display: flex;
  justify-content: space-between;
}

.histogram__title{
  margin: 0;
  color: var(--black);
}

.histogram__total{
  padding-top: 6px;
  font-size: 1.15em;
  line-height: 1.625em;
}

.histogram__chart-box {
    padding: 2.437em 0.3125em 0 0.125em;
    height: 3.125em;
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
    gap: 1px;
}

.histogram__bar{
    flex: 1 1 9px;
    background-color: var(--histogram-bar);
}

@media screen and (max-width: 480px){
   .histogram{
     padding: 1em;
   }

   .histogram__title{
     font-size: 0.8em;
   }

   .histogram__chart-box{
      padding: 1.5em 0.3125rem 0 0.125rem;
   }
}
