.histogram{
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--elements-background-inner);
  border: var(--elements-border) 1px solid;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.histogram__header{
  display: flex;
  justify-content: space-between;
}

.histogram__title{
  margin: 0;
  color: var(--elements-font-color-darker);
}

.histogram__total{
  padding-top: 6px;
  font-size: 1.15em;
  line-height: 1.625em;
  color: var(--elements-font-color-darker);
}

.histogram__chart-box {
    padding: 2.437em 0.3125em 0 0.125em;
    height: 3.125em;
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
    gap: 1px;
    animation: histogram 1s normal forwards;
}

.histogram__bar{
    flex: 1 1 9px;
    background-color: var(--histogram-bar);
}

.histogram__views{
  text-decoration: underline;
  color: var(--elements-font-color-darker);
  text-decoration-color: var(--font-color-primary);
  transition: all 500ms;
}

.histogram__views:hover{
  color: var(--orange-0);
  text-decoration: none;
}

@media screen and (max-width: 480px){
   .histogram{
     padding: 1em;
   }

   .histogram__title{
     font-size: 0.8em;
   }

   .histogram__chart-box{
      padding: 1.5em 0.3125rem 0 0.125rem;
   }
}

@keyframes histogram {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  100% {
    transform: translateY(1);
    transform-origin: bottom;
  }
