@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --white-opacity-07: #ffffffBF;
  --black: #212429;
  --pink: #F784AD;
  --purple: #7048E8;
  --purple-opacity-07: #7048E8BF;
  --purple-opacity-03: #7048E847;
  --purple-2: #5028C6;
  --purple-3: #4263EB;
  --purple-4: #A0B1F520;
  --blue: #374FC7;
  --blue-opacity-07: #374FC7BF;
  --blue-opacity-03: #374FC747;
  --blue-2: #2342C0;
  --red: #F03D3E;
  --grey-0: #F9FAFC;
  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;
  --grey-5: #334D6E;
  --grey-6: #90A0B7;
  --grey-7: #C4C4C478;
  --orange-0: #D84910;
  --tranparent: transparent;

  --error: var(--red);
  --success: var(--blue);

  --elements-primary: var(--blue);
  --elements-primary-hover: var(--blue-2);
  --elements-secondary: var(--purple);
  --elements-secondary-hover: var(--purple-2);
  --elements-border: var(--grey-3);
  --elements-border-hover: var(--black);
  --elements-alternate-font: var(--grey-4);
  --elements-alternate-background: var(--white);
  --elements-alternate-background-hover: var(--grey-3);

  --global-background: var(--grey-0);
  --center-border: var(--grey-2);     /*стилизация границы на главной странице*/


  --card-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  --input-shadow: 0px 1px rgba(51, 154, 240, 0.1);

  --histogram-bar: var(--purple-3);
  --skeleton-line-background: linear-gradient(92.51deg, #E2E6E8 6.44%,
    #F3F5F5 38.47%, #E3E7EA 56.48%, #DDE2E5 77.5%, #DDE2E5 102.52%);


  --calendar-grey: var(--grey-5);

  --orange-0: #D84910;
  --tabs-bottom: 5px solid var(--black);
  --tabs-bottom-white: 5px solid var(--white);

  --font-dark-theme: rgba(255, 255, 255, 0.46);
  --tabs-bottom-transparent: 5px solid var(--transparent);
}

body {
    font-family: 'Roboto', sans-serif;
}

html[data-theme-dark]{
  --elements-primary: var(--blue-opacity-07);
  --elements-primary-hover: var(--blue-opacity-03);

  --elements-secondary: var(--purple-opacity-07);
  --elements-secondary-hover: var(--purple-opacity-03);

  --elements-alternate-background: var(--white-opacity-07);

  --elements-border-hover: var(--orange-0);
}
