.radio{

}

.radio__content{
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 102px;
}

.radio__element{
  position: absolute;
  clip-path: circle(0);
}

.radio__visual{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey-2);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 1px;
}

.radio__visual::after{
  position: absolute;
  right: 0;
  content: "Default";
  color: var(--grey-4);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.radio__inner-circle{
  display: none;
  border-radius: 50%;
  background-color: var(--purple-3);
  width: 18px;
  height: 18px;
}

.radio__label{
  /* color: var(--grey-4);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; */
}

.radio__element:checked ~ .radio__visual{
  border: 2px solid var(--purple-3);
  margin: 0;
}

.radio__element:checked ~ .radio__visual::after{
   content: "Selected";
}

.radio__element:checked ~ .radio__visual .radio__inner-circle{
  display: block;
}

.radio__element:disabled ~ .radio__visual{
  background-color: var(--grey-2);
}

.radio__element:disabled ~ .radio__visual::after{
  content: "Disabled";
}
