.calendar{
  padding: 0 1.625em 0 1.6875em;
  border: 1px solid var(--elements-border);
  border-radius: 8px;
  display: grid;
  /*строим основную сетку в одну колонку, колонку разбиваем на строки
  первая строка заменяет верхний паддинг 20px,
  вторая строка для месяца и года*/
  grid-template: 1.125em 1.5em 3.6875em 1fr 2em / 1fr;
  height: 100%;
  box-sizing: border-box;
}

.calendar_font-size-small{
  font-size: 0.68rem;
}

.calendar__title{
  margin: 0;
  grid-row: 2;
  align-self: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5em;
  color: var(--elements-font-color-secondary);
}

.calendar__week{
  padding: 0 0 0 0.25em;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, minmax(1.875em, 1fr));
  align-items: center;
  justify-items: center;
}

.calendar__week-day-name{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.25em;
  color: var(--calendar-week-day-font);
}

.calendar__days{
   grid-row: 4;
   display: grid;
   grid-template-columns: repeat(7, minmax(2.25em, 1fr));
   grid-auto-rows: minmax(2.25em, auto);
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 1em;
   line-height: 1.25em;
}

.calendar__day{
  display: grid;
  align-content: center;
  justify-content: center;
  color: var(--elements-font-color);
}

.calendar_day_selected{
   background-color: var(--day-selected-bg);
   color: var(--day-selected-font);
}

.calendar_day_between{
  background-color: var(--day-between-bg);
  color: var(--day-between-font);
}

@media screen and (max-width:480px){
  .calendar{

    border: none;
    padding: 0;
    grid-template: 0 2em 3.5em 1fr 0 / 1fr;
  }

  .calendar__week{
    display: grid;
    grid-template-columns: repeat(7, minmax(1.6em, 1fr));
  }

  .calendar__title{
    font-size: 1em;
    color: var(--elements-font-color);
  }

  .calendar__days{
    font-size: 0.9em;
    display: grid;
    grid-template-columns: repeat(7, minmax(1.95em, 1fr));
  }
}

@media screen and (max-width: 410px){
    .calendar{
    /* font-size: 10px; */
    }

    .calendar__week{

      grid-template-columns: repeat(7, minmax(1.4em, 1fr));
    }

    .calendar__days{
      grid-template-columns: repeat(7, minmax(1.7em, 1fr));
    }
}
