.skeleton{
  display: flex;
  flex-flow: column;
  padding: 24px 40px 32px 24px;
  max-width: 579px;
  box-sizing: border-box;
  gap: 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton__header{
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.skeleton__avatar{
  border-radius: 50%;
  background-color: var(--grey-2);
  padding: 32px;
}

.skeleton__top{
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 100%;
  gap: 8px;
}

.skeleton__line{
  height: 20px;
  overflow-x: hidden;
  background: var(--grey-2);
}

.skeleton__line::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: var(--skeleton-line-background);
  animation: skeleton-margin 800ms linear normal infinite;
}

.skeleton__line_short{
  width: 39.5%;
}

.skeleton__line_medium{
  width: 59%;
}

.skeleton__bottom{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 480px){
  .skeleton{
    padding: 11px 17px 14px 11px;
    gap: 13px;
  }

  .skeleton__avatar{
    padding: 20px;
  }

  .skeleton__top{
    padding: 0;
  }

  .skeleton__line{
    height: 16px;
  }
}

@keyframes skeleton-margin {
   0%{
     transform: translateX(-100%);
   }

   100%{
     transform: translateX(100%);
   }
}
