.skeleton{
  display: flex;
  flex-flow: column;
  padding: 24px 40px 32px 24px;
  max-width: 579px;
  box-sizing: border-box;
  gap: 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton__header{
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.skeleton__avatar{
  border-radius: 50%;
  background-color: var(--grey-2);
  padding: 32px;
}

.skeleton__top{
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 100%;
  gap: 8px;
}

.skeleton__line{
  height: 20px;
  background: var(--skeleton-line-background);
  animation: skeleton 1s ease-in-out infinite;
}

.skeleton__line_short{
  width: 39.5%;
}

.skeleton__line_medium{
  width: 59%;
}

.skeleton__bottom{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 480px){
  .skeleton{
    padding: 11px 17px 14px 11px;
    gap: 13px;
  }

  .skeleton__avatar{
    padding: 20px;
  }

  .skeleton__top{
    padding: 0;
  }

  .skeleton__line{
    height: 16px;
  }
}

@keyframes skeleton {
  0%{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%,
      #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
  }

  20%{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #DDE2E5 38.47%, #E2E6E8 56.48%, #F3F5F5 77.5%, #E3E7EA 102.52%);
  }

  40%{
    background: linear-gradient(92.51deg, #E3E7EA 6.44%, #DDE2E5 38.47%, #DDE2E5 56.48%, #E2E6E8 77.5%, #F3F5F5 102.52%);
  }

  60%{
    background: linear-gradient(92.51deg, #F3F5F5 6.44%, #E3E7EA 38.47%, #DDE2E5 56.48%, #DDE2E5 77.5%, #E2E6E8 102.52%);
  }

  80%{
    background: linear-gradient(92.51deg, #E2E6E8 6.44%, #F3F5F5 38.47%, #E3E7EA 56.48%, #DDE2E5 77.5%, #DDE2E5 102.52%);
  }

  100%{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
  }

}
