.footer{
  max-width: 1440px;
  background-color: var(--white);
  padding: 71px 0 136px;
}

.footer__title{
  max-width: 111px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: #212429;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.footer__description{
  max-width: 640px;
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}
