.footer{
  background-color: inherit;
  padding: 56px 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.footer_white{
  background-color: var(--white)
}

.footer__title{
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: var(--black);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.footer__description{
  max-width: 640px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}

.footer__text{
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-3);
}
