.checkbox__content{
  position: relative;
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.checkbox__input{
  position: absolute;
  clip: rect(0,0,0,0);
}

.checkbox__visual{
  width: 28px;
  height: 28px;
  border: 1px solid var(--checkbox-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
}

.checkbox__icon{
  display: none;
}

.checkbox__title{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--elements-font-color);
}

.checkbox__input:checked ~ .checkbox__visual{
  animation: checkbox 500ms normal forwards;
}

.checkbox__input:checked ~ .checkbox__visual .checkbox__icon{
  display: block;
}

.checkbox__input:focus ~ .checkbox__visual{
  box-shadow: inset 0 0 1px 1px var(--elements-focus-background);
}

.checkbox__input:disabled ~ .checkbox__visual{
  background-color: var(--switching-elements-disabled-bg);
}

.checkbox__input:disabled ~ .checkbox__visual .checkbox__icon{
  display: none;
}

@media screen and (max-width: 480px){
  .checkbox__title{
    font-size: 14px;
  }

  .checkbox__visual{
    width: 20px;
    height: 20px;
  }

  .checkbox__icon{
    width: 13px;
    height: 11px;
  }
}

@keyframes checkbox {
  0%{
     border: 1px solid var(--grey-2);
     background-color: none;
     box-shadow: 0 0 10px 3px var(--purple-2), 0 0 10px 15px var(--grey-2);
  }

  100%{
    border: 1px solid var(--switching-elements-prime-bg);
    background-color: var(--switching-elements-prime-bg);
    box-shadow: none;
  }
