<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../menu-button/menu-button.css">
    <link rel="stylesheet" href="../theme-switcher/theme-switcher.css">
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../page/page.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../tabs/tabs.css">
    <link rel="stylesheet" href="../preview/preview.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../centralContent/central-content.css">
    <link rel="stylesheet" href="../aside/aside.css">
    <link rel="stylesheet" href="../../09-lection7/01-burger-menu/burger-menu.css">
    <link rel="stylesheet" href="../../03-lection1/01-button/button.css">
    <link rel="stylesheet" href="../../07-lection5/03-toggler/toggler.css">
    <link rel="stylesheet" href="../../05-lection3/03-calendar/calendar.css">
    <style>
        html[data-theme-dark] {
            background: #000;
        }
    </style>

    <script defer src="../../09-lection7/01-burger-menu/burger-menu.js"></script>
    <script defer src="../../10-lection8/01-theme-changer/theme-changer.js"></script>

    <title>Calendar component page</title>
  </head>


  <body>
    <div class="page page_elements">

      <div class="burger" id="burger-menu">
       <header class="burger__header">
         <button class="burger__close-button" type="button" name="button" id="burger-menu-close">
           <svg class="burger__close-icon">
             <use href="../../assets/icons.svg#close"></use>
           </svg>
         </button>

         <a href="/" class="burger__ancor">
           <svg class="burger__logo">
             <use href="../../assets/icons.svg#logo"></use>
           </svg>
         </a>

       </header>

        <div class="burger__window">

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Elements</h3>
               <a class="burger__reference" href="../tooltip/tooltip.html">Tooltip</a>
               <a class="burger__reference" href="../button/button.html">Buttons</a>
               <a class="burger__reference" href="../avatar/avatar.html">Avatar</a>
               <a class="burger__reference"
                href="../checkbox-radio/checkbox-radio.html">Checkbox / Radio</a>
               <a class="burger__reference" href="../toggler/toggler.html">Toggler</a>
               <a class="burger__reference" href="../inputs/inputs.html">Input</a>
            </nav>

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Components</h3>
               <a class="burger__reference burger__reference_selected"
                href="../calendar/calendar.html">Calendar</a>
               <a class="burger__reference" href="../modal/modal.html">Modal Window</a>
               <a class="burger__reference" href="../histogram/histogram.html">Histogram</a>
               <a class="burger__reference" href="../accordion/accordion.html">Accordion</a>
               <a class="burger__reference" href="../skeleton/skeleton.html">Skeleton</a>
            </nav>

        </div>
      </div>


      <header class="header">
        <div class="container">

          <div class="header__top-bar">

            <button class="menu-button" type="button" name="button" id="burger-menu-open">
             <svg  class="menu-button__icon">
               <use href="../../assets/icons.svg#menu"></use>
             </svg>
            </button>

            <a class="header__logo-box" href="/">
            <!-- <div class=""> -->
              <svg class="header__logo-elements" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../../assets/icons.svg#main-logo"></use>
              </svg>
            <!-- </div> -->
            </a>

            <div class="header__toogles">
              <div class="header__ancors">
                <a class="header__ancor" href="#">Components</a>
                <a class="header__ancor" href="#">About</a>
                <a class="header__ancor" href="#">Contact</a>
              </div>

               <div class="theme-switcher">
                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#sun"></use>
                  </svg>

                  <label class="toggler">
                    <input class="toggler__element" type="checkbox" id="theme-changer">
                    <div class="toggler__visual">
                       <div class="toggler__switcher">
                       </div>
                    </div>
                  </label>

                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#moon"></use>
                  </svg>
               </div>

            </div>
          </div>

         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="../tooltip/tooltip.html" class="aside__nav-item">Tooltip</a>
              <a href="../button/button.html" class="aside__nav-item">Buttons</a>
              <a href="../avatar/avatar.html" class="aside__nav-item">Avatar</a>
              <a href="../checkbox-radio/checkbox-radio.html" class="aside__nav-item">Checkbox / Radio</a>
              <a href="../toggler/toggler.html" class="aside__nav-item">Toggler</a>
              <a href="../inputs/inputs.html" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="../calendar/calendar.html" class="aside__nav-item aside__nav-item_checked">Calendar</a>
              <a href="../modal/modal.html" class="aside__nav-item">Modal Window</a>
              <a href="../histogram/histogram.html" class="aside__nav-item">Histogram</a>
              <a href="../accordion/accordion.html" class="aside__nav-item">Accordion</a>
              <a href="../skeleton/skeleton.html" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="/" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview">

           <div class="preview__element-visual">
             <h3 class="preview__title">Calendar</h3>
             <div class="calendar">
                  <h4 class="calendar__title">October 2019</h4>
                  <div class="calendar__week">
                    <p class="calendar__week-day-name">
                      Mon
                    </p>
                    <p class="calendar__week-day-name">
                      Tue
                    </p>
                    <p class="calendar__week-day-name">
                      Wed
                    </p>
                    <p class="calendar__week-day-name">
                      Thu
                    </p>
                    <p class="calendar__week-day-name">
                      Fri
                    </p>
                    <p class="calendar__week-day-name">
                      Sat
                    </p>
                    <p class="calendar__week-day-name">
                      Sun
                    </p>
                  </div>
                <div class="calendar__days">
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day">1</span>
                  <span class="calendar__day">2</span>
                  <span class="calendar__day">3</span>
                  <span class="calendar__day">4</span>
                  <span class="calendar__day">5</span>
                  <span class="calendar__day">6</span>
                  <span class="calendar__day">7</span>
                  <span class="calendar__day">8</span>
                  <span class="calendar__day">9</span>
                  <span class="calendar__day">10</span>
                  <span class="calendar__day">11</span>
                  <span class="calendar__day">12</span>
                  <span class="calendar__day">13</span>
                  <span class="calendar__day">14</span>
                  <span class="calendar__day">15</span>
                  <span class="calendar__day">16</span>
                  <span class="calendar__day">17</span>
                  <span class="calendar__day  calendar_day_selected">18</span>
                  <span class="calendar__day  calendar_day_between">19</span>
                  <span class="calendar__day  calendar_day_between">20</span>
                  <span class="calendar__day  calendar_day_between">21</span>
                  <span class="calendar__day  calendar_day_between">22</span>
                  <span class="calendar__day  calendar_day_selected">23</span>
                  <span class="calendar__day">24</span>
                  <span class="calendar__day">25</span>
                  <span class="calendar__day">26</span>
                  <span class="calendar__day">27</span>
                  <span class="calendar__day">28</span>
                  <span class="calendar__day">29</span>
                  <span class="calendar__day">30</span>
                  <span class="calendar__day">31</span>
                </div>
             </div>

           </div>


           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="html" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="css" name="tabs">


            <div class="tabs__scroller tabs__scroller_padding-top tabs__scroller_white
            preview__tab">
                <label class="tabs__label tabs__label-padding-small" for="html">
                  HTML</label>
                <label class="tabs__label tabs__label-padding-small" for="css">
                  CSS</label>
            </div>

            <div class="tabs__content tabs__html preview__tab-content tabs__content-max-height">
              <pre class="hljs" style="display: block; overflow-x: auto; padding: 0.5em; color: rgb(68, 68, 68);">&lt;div <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar"</span>&gt;
    &lt;h4 <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__title"</span>&gt;<span class="hljs-type" style="color: rgb(136, 0, 0);">October</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2019</span>&lt;/h4&gt;
      &lt;div <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week"</span>&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Mon</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Tue</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Wed</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Thu</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Fri</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Sat</span>
      &lt;/p&gt;
      &lt;p <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__week-day-name"</span>&gt;
      <span class="hljs-type" style="color: rgb(136, 0, 0);">Sun</span>
      &lt;/p&gt;
      &lt;/div&gt;
      &lt;div <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__days"</span>&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">2</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">3</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">4</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">5</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">6</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">7</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">8</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">9</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">10</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">11</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">12</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">13</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">14</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">15</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">16</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">17</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_selected"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">18</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_between"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">19</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_between"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">20</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_between"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">21</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_between"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">22</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day  calendar_day_selected"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">23</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">24</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">25</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">26</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">27</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">28</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">29</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">30</span>&lt;/span&gt;
      &lt;span <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"calendar__day"</span>&gt;<span class="hljs-number" style="color: rgb(136, 0, 0);">31</span>&lt;/span&gt;
   &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>


            <div class="tabs__content tabs__css preview__tab-content tabs__content-max-height">
<pre class="hljs" style="display: block; padding: 0.5em; color: rgb(68, 68, 68);"><span class="hljs-selector-class" style="color: rgb(136, 0, 0);">
.calendar</span>{
  <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">1.625em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">1.6875em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">border</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1px</span> solid <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-border);
  <span class="hljs-attribute" style="font-weight: 700;">border-radius</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">8px</span>;
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/*строим основную сетку в одну колонку, колонку разбиваем на строки
первая строка заменяет верхний паддинг 20px,
вторая строка для месяца и года*/</span>
  <span class="hljs-attribute" style="font-weight: 700;">grid-template</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.125em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">1.5em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">3.6875em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>fr <span class="hljs-number" style="color: rgb(136, 0, 0);">2em</span> / <span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>fr;
  <span class="hljs-attribute" style="font-weight: 700;">height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100%</span>;
  <span class="hljs-attribute" style="font-weight: 700;">box-sizing</span>: border-box;
 }

<span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar_font-size-small</span>{
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.68rem</span>;
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__title</span>{
  <span class="hljs-attribute" style="font-weight: 700;">margin</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
  <span class="hljs-attribute" style="font-weight: 700;">grid-row</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">2</span>;
  <span class="hljs-attribute" style="font-weight: 700;">align-self</span>: center;
  <span class="hljs-attribute" style="font-weight: 700;">text-align</span>: center;
  <span class="hljs-attribute" style="font-weight: 700;">font-family</span>: <span class="hljs-string" style="color: rgb(136, 0, 0);">'Inter'</span>, sans-serif;
  <span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">600</span>;
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.25em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.5em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color-secondary);
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__week</span>{
  <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">0.25em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">grid-row</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">3</span>;
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(1.875em, 1fr));
  <span class="hljs-attribute" style="font-weight: 700;">align-items</span>: center;
  <span class="hljs-attribute" style="font-weight: 700;">justify-items</span>: center;
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__week-day-name</span>{
  <span class="hljs-attribute" style="font-weight: 700;">margin</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
  <span class="hljs-attribute" style="font-weight: 700;">font-family</span>: <span class="hljs-string" style="color: rgb(136, 0, 0);">'Inter'</span>, sans-serif;
  <span class="hljs-attribute" style="font-weight: 700;">font-style</span>: normal;
  <span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">400</span>;
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.875em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.25em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--calendar-week-day-font);
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__days</span>{
  <span class="hljs-attribute" style="font-weight: 700;">grid-row</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">4</span>;
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(2.25em, 1fr));
  <span class="hljs-attribute" style="font-weight: 700;">grid-auto-rows</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">minmax</span>(2.25em, auto);
  <span class="hljs-attribute" style="font-weight: 700;">font-family</span>: <span class="hljs-string" style="color: rgb(136, 0, 0);">'Source Sans Pro'</span>, sans-serif;
  <span class="hljs-attribute" style="font-weight: 700;">font-style</span>: normal;
  <span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">400</span>;
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.25em</span>;
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__day</span>{
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-attribute" style="font-weight: 700;">align-content</span>: center;
  <span class="hljs-attribute" style="font-weight: 700;">justify-content</span>: center;
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color);
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar_day_selected</span>{
  <span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--day-selected-bg);
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--day-selected-font);
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar_day_between</span>{
  <span class="hljs-attribute" style="font-weight: 700;">background-color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--day-between-bg);
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--day-between-font);
}

@<span class="hljs-keyword" style="font-weight: 700;">media</span> screen and (max-width:<span class="hljs-number" style="color: rgb(136, 0, 0);">480px</span>){
 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar</span>{

  <span class="hljs-attribute" style="font-weight: 700;">border</span>: none;
  <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
  <span class="hljs-attribute" style="font-weight: 700;">grid-template</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">3.5em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>fr <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span> / <span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>fr;
}

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__week</span>{
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(1.6em, 1fr));
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__title</span>{
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color);
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__days</span>{
  <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.9em</span>;
  <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(1.95em, 1fr));
  }
}

@<span class="hljs-keyword" style="font-weight: 700;">media</span> screen and (max-width: <span class="hljs-number" style="color: rgb(136, 0, 0);">410px</span>){
  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar</span>{
  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/* font-size: 10px; */</span>
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__week</span>{

  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(1.4em, 1fr));
}

 <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.calendar__days</span>{
  <span class="hljs-attribute" style="font-weight: 700;">grid-template-columns</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">repeat</span>(7, minmax(1.7em, 1fr));
}
}</pre>
            </div>

           </div>
          </div>

         </main>


       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
