<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../page/page.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../preview/preview.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../centralContent/central-content.css">
    <link rel="stylesheet" href="../aside/aside.css">
    <link rel="stylesheet" href="../tabs/tabs.css">
    <link rel="stylesheet" href="../../05-lection3/03-calendar/calendar.css">
    <meta charset="utf-8">
    <title>Buttons Element</title>
  </head>


  <body>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__top-bar">
            <div class="header__logo-box">
              <svg class="header__logo" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../../assets/icons.svg#main-logo"></use>
              </svg>
            </div>
            <div class="header__toogles">
               <a class="header__ancor" href="#">Components</a>
               <a class="header__ancor" href="#">About</a>
               <a class="header__ancor" href="#">Contact</a>
            </div>
          </div>

          <nav class="header__nav">
          </nav>
         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item">Tooltip</a>
              <a href="#" class="aside__nav-item">Buttons</a>
              <a href="#" class="aside__nav-item">Avatar</a>
              <a href="#" class="aside__nav-item">Checkbox / Radio</a>
              <a href="#" class="aside__nav-item">Toggler</a>
              <a href="#" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item  aside__nav-item_checked">Calendar</a>
              <a href="#" class="aside__nav-item">Modal Window</a>
              <a href="#" class="aside__nav-item">Histogram</a>
              <a href="#" class="aside__nav-item">Accordion</a>
              <a href="#" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="#" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview preview_white">

           <div class="preview__element-visual">
             <h3 class="preview__title">Calendar</h3>
             <div class="calendar">
                  <h4 class="calendar__title">October 2019</h4>
                  <div class="calendar__week">
                    <p class="calendar__week-day-name">
                      Mon
                    </p>
                    <p class="calendar__week-day-name">
                      Tue
                    </p>
                    <p class="calendar__week-day-name">
                      Wed
                    </p>
                    <p class="calendar__week-day-name">
                      Thu
                    </p>
                    <p class="calendar__week-day-name">
                      Fri
                    </p>
                    <p class="calendar__week-day-name">
                      Sat
                    </p>
                    <p class="calendar__week-day-name">
                      Sun
                    </p>
                  </div>
                <div class="calendar__days">
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day"></span>
                  <span class="calendar__day">1</span>
                  <span class="calendar__day">2</span>
                  <span class="calendar__day">3</span>
                  <span class="calendar__day">4</span>
                  <span class="calendar__day">5</span>
                  <span class="calendar__day">6</span>
                  <span class="calendar__day">7</span>
                  <span class="calendar__day">8</span>
                  <span class="calendar__day">9</span>
                  <span class="calendar__day">10</span>
                  <span class="calendar__day">11</span>
                  <span class="calendar__day">12</span>
                  <span class="calendar__day">13</span>
                  <span class="calendar__day">14</span>
                  <span class="calendar__day">15</span>
                  <span class="calendar__day">16</span>
                  <span class="calendar__day">17</span>
                  <span class="calendar__day  calendar_day_selected">18</span>
                  <span class="calendar__day  calendar_day_between">19</span>
                  <span class="calendar__day  calendar_day_between">20</span>
                  <span class="calendar__day  calendar_day_between">21</span>
                  <span class="calendar__day  calendar_day_between">22</span>
                  <span class="calendar__day  calendar_day_selected">23</span>
                  <span class="calendar__day">24</span>
                  <span class="calendar__day">25</span>
                  <span class="calendar__day">26</span>
                  <span class="calendar__day">27</span>
                  <span class="calendar__day">28</span>
                  <span class="calendar__day">29</span>
                  <span class="calendar__day">30</span>
                  <span class="calendar__day">31</span>
                </div>
             </div>

           </div>


           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="html" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="css" name="tabs">


            <div class="tabs__scroller tabs__scroller_padding-top tabs__scroller_white
            preview__tab">
                <label class="tabs__label tabs__label-padding-small" for="html">
                  HTML</label>
                <label class="tabs__label tabs__label-padding-small" for="css">
                  CSS</label>
            </div>

            <div class="tabs__content tabs__html preview__tab-content tabs__content-max-height">
            </div>

            <div class="tabs__content tabs__css preview__tab-content tabs__content-max-height">
            </div>

           </div>
          </div>

         </main>


       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
