<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../menu-button/menu-button.css">
    <link rel="stylesheet" href="../theme-switcher/theme-switcher.css">
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../page/page.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../tabs/tabs.css">
    <link rel="stylesheet" href="../preview/preview.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../centralContent/central-content.css">
    <link rel="stylesheet" href="../aside/aside.css">
    <link rel="stylesheet" href="../../09-lection7/01-burger-menu/burger-menu.css">
    <link rel="stylesheet" href="../../07-lection5/03-toggler/toggler.css">
    <link rel="stylesheet" href="../../05-lection3/02-modal/modal.css">
    <link rel="stylesheet" href="../../03-lection1/01-button/button.css">
    <style>
        html[data-theme-dark] {
            background: #000;
        }
    </style>

    <script defer src="../../05-lection3/02-modal/index.js"></script>
    <script defer src="../../09-lection7/01-burger-menu/burger-menu.js"></script>
    <script defer src="../../10-lection8/01-theme-changer/theme-changer.js"></script>

    <title>Modal component page</title>

  </head>


  <body>
    <div class="page page_elements">

      <div class="burger" id="burger-menu">
       <header class="burger__header">
         <button class="burger__close-button" type="button" name="button" id="burger-menu-close">
           <svg class="burger__close-icon">
             <use href="../../assets/icons.svg#close"></use>
           </svg>
         </button>

         <a href="/" class="burger__ancor">
           <svg class="burger__logo">
             <use href="../../assets/icons.svg#logo"></use>
           </svg>
         </a>

       </header>

        <div class="burger__window">

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Elements</h3>
               <a class="burger__reference" href="../tooltip/tooltip.html">Tooltip</a>
               <a class="burger__reference" href="../button/button.html">Buttons</a>
               <a class="burger__reference" href="../avatar/avatar.html">Avatar</a>
               <a class="burger__reference" href="../checkbox-radio/checkbox-radio.html">Checkbox / Radio</a>
               <a class="burger__reference" href="../toggler/toggler.html">Toggler</a>
               <a class="burger__reference" href="../inputs/inputs.html">Input</a>
            </nav>

            <nav class="burger__navigation-section">
               <h3 class="burger__title">Components</h3>
               <a class="burger__reference" href="../calendar/calendar.html">Calendar</a>
               <a class="burger__reference
               burger__reference_selected" href="../modal/modal.html">Modal Window</a>
               <a class="burger__reference" href="../histogram/histogram.html">Histogram</a>
               <a class="burger__reference" href="../accordion/accordion.html">Accordion</a>
               <a class="burger__reference" href="../skeleton/skeleton.html">Skeleton</a>
            </nav>

        </div>
      </div>


      <header class="header">
        <div class="container">

          <div class="header__top-bar">

            <button class="menu-button" type="button" name="button" id="burger-menu-open">
             <svg  class="menu-button__icon">
               <use href="../../assets/icons.svg#menu"></use>
             </svg>
            </button>

            <a class="header__logo-box" href="/">
            <!-- <div class=""> -->
              <svg class="header__logo-elements" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../../assets/icons.svg#main-logo"></use>
              </svg>
            <!-- </div> -->
            </a>

            <div class="header__toogles">
              <div class="header__ancors">
                <a class="header__ancor" href="#">Components</a>
                <a class="header__ancor" href="#">About</a>
                <a class="header__ancor" href="#">Contact</a>
              </div>

               <div class="theme-switcher">
                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#sun"></use>
                  </svg>

                  <label class="toggler">
                    <input class="toggler__element" type="checkbox" id="theme-changer">
                    <div class="toggler__visual">
                       <div class="toggler__switcher">
                       </div>
                    </div>
                  </label>

                  <svg class="theme-switcher__icon">
                    <use href="../../assets/icons.svg#moon"></use>
                  </svg>
               </div>

            </div>
          </div>

         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="../tooltip/tooltip.html" class="aside__nav-item">Tooltip</a>
              <a href="../button/button.html" class="aside__nav-item">Buttons</a>
              <a href="../avatar/avatar.html" class="aside__nav-item">Avatar</a>
              <a href="../checkbox-radio/checkbox-radio.html" class="aside__nav-item">Checkbox / Radio</a>
              <a href="../toggler/toggler.html" class="aside__nav-item">Toggler</a>
              <a href="../inputs/inputs.html" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="../calendar/calendar.html" class="aside__nav-item">Calendar</a>
              <a href="../modal/modal.html" class="aside__nav-item aside__nav-item-checked">Modal Window</a>
              <a href="../histogram/histogram.html" class="aside__nav-item">Histogram</a>
              <a href="../accordion/accordion.html" class="aside__nav-item">Accordion</a>
              <a href="../skeleton/skeleton.html" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="/" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview">

           <div class="preview__element-visual">
             <h3 class="preview__title">Modal</h3>

             <button type="button" name="button" class="button  button_primary"
             id="modal-open">
               Open modal</button>

             <!-- <div class="modal"> -->
                 <section class="modal" id="modal">
                   <div class="modal__window modal__window_padding-0">
                     <svg class="modal__close" id="modal-close" width="16" height="16"
                     viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <use href="../../assets/icons.svg#close"></use>
                     </svg>


                       <div class="modal__text-box">
                       <h3 class="modal__title">Modal title</h3>
                       <p class="modal__text">Amet minim mollit non deserunt ullamco
                         est sit aliqua dolor do amet sint. Velit officia consequat
                         duis enim velit mollit. Exercitation veniam consequat sunt
                         nostrud amet. </p>
                       </div>

                    </div>
                 </section>


           </div>


           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="html" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="css" name="tabs">


            <div class="tabs__scroller tabs__scroller_padding-top tabs__scroller_white
            preview__tab">
                <label class="tabs__label tabs__label-padding-small" for="html">
                  HTML</label>
                <label class="tabs__label tabs__label-padding-small" for="css">
                  CSS</label>
            </div>

<!--  -->
<div class="tabs__content tabs__html preview__tab-content tabs__content-max-height">
<pre class="hljs" style="color: rgb(68, 68, 68);">
&lt;section <span class="hljs-class"><span class="hljs-keyword" style="font-weight: 700;">class</span></span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal"</span> id=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal"</span>&gt;
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal__window modal__window_padding-0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal__close"</span> <span class="hljs-attr">id</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal-close"</span> <span class="hljs-attr">width</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"16"</span> <span class="hljs-attr">height</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"16"</span>
    <span class="hljs-attr">viewBox</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"0 0 16 16"</span> <span class="hljs-attr">fill</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"none"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"http://www.w3.org/2000/svg"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">use</span> <span class="hljs-attr">href</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"../../assets/icons.svg#close"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">use</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">svg</span>&gt;</span>


<span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal__text-box"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal__title"</span>&gt;</span>Modal title<span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"modal__text"</span>&gt;</span>Amet minim mollit non deserunt ullamco
  est sit aliqua dolor do amet sint. Velit officia consequat
  duis enim velit mollit. Exercitation veniam consequat sunt
  nostrud amet. <span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">div</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">div</span>&gt;</span></span>
  &lt;<span class="hljs-regexp" style="color: rgb(188, 96, 96);">/section&gt;</span></pre>
</div>

<!--  -->
<div class="tabs__content tabs__css preview__tab-content tabs__content-max-height">
  <pre class="hljs" style="color: rgb(68, 68, 68);"><span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal</span>{
    <span class="hljs-attribute" style="font-weight: 700;">text-align</span>: left;
    <span class="hljs-attribute" style="font-weight: 700;">position</span>: fixed;
    <span class="hljs-attribute" style="font-weight: 700;">top</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">left</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100vw</span>;
    <span class="hljs-attribute" style="font-weight: 700;">height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100vh</span>;
    <span class="hljs-attribute" style="font-weight: 700;">background</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--modal-background);
    <span class="hljs-attribute" style="font-weight: 700;">z-index</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">50</span>;
    <span class="hljs-attribute" style="font-weight: 700;">visibility</span>: hidden;
    <span class="hljs-attribute" style="font-weight: 700;">opacity</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">transition</span>: all <span class="hljs-number" style="color: rgb(136, 0, 0);">200ms</span>;
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal_padding</span>{
    <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.5rem</span>;
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__window</span>{
    <span class="hljs-attribute" style="font-weight: 700;">position</span>: absolute;
    <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.875em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2.5rem</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2.0625em</span>;
    <span class="hljs-attribute" style="font-weight: 700;">max-width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">428px</span>;
    <span class="hljs-attribute" style="font-weight: 700;">top</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">50%</span>;
    <span class="hljs-attribute" style="font-weight: 700;">left</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">50%</span>;
    <span class="hljs-attribute" style="font-weight: 700;">transform</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">translate</span>(-50%, -50%);
    <span class="hljs-attribute" style="font-weight: 700;">background</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-background-inner);
    <span class="hljs-attribute" style="font-weight: 700;">border-radius</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">8px</span>;
  }


  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/*модификаторвдля отображения на главной странице*/</span>
  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal_preview</span>{
    <span class="hljs-attribute" style="font-weight: 700;">box-sizing</span>: border-box;
    <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
    <span class="hljs-attribute" style="font-weight: 700;">position</span>: relative;
    <span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100%</span>;
    <span class="hljs-attribute" style="font-weight: 700;">height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">100%</span>;
    <span class="hljs-attribute" style="font-weight: 700;">text-align</span>: center;
    <span class="hljs-attribute" style="font-weight: 700;">visibility</span>: visible;
    <span class="hljs-attribute" style="font-weight: 700;">opacity</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1</span>;
    <span class="hljs-attribute" style="font-weight: 700;">border-radius</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">12px</span>;
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__window_preview</span>{
    <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">90%</span>;
    <span class="hljs-attribute" style="font-weight: 700;">position</span>: relative;
    <span class="hljs-attribute" style="font-weight: 700;">top</span>: auto;
    <span class="hljs-attribute" style="font-weight: 700;">left</span>: auto;
    <span class="hljs-attribute" style="font-weight: 700;">transform</span>: none;
    <span class="hljs-attribute" style="font-weight: 700;">align-self</span>: center;
    <span class="hljs-attribute" style="font-weight: 700;">justify-self</span>: center;
    <span class="hljs-attribute" style="font-weight: 700;">display</span>: grid;
    <span class="hljs-attribute" style="font-weight: 700;">align-items</span>: center;
    <span class="hljs-attribute" style="font-weight: 700;">justify-content</span>: center;
  }
  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/*****************************/</span>

  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/*добавка для стилизации на странице компонента*/</span>
  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__window_padding</span>{
    <span class="hljs-attribute" style="font-weight: 700;">padding</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1.875em</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2.5rem</span> <span class="hljs-number" style="color: rgb(136, 0, 0);">2.0625em</span>;
  }
  <span class="hljs-comment" style="color: rgb(136, 136, 136);">/***********************************************/</span>

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__close</span>{
    <span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1rem</span>;
    <span class="hljs-attribute" style="font-weight: 700;">height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">1rem</span>;
    <span class="hljs-attribute" style="font-weight: 700;">position</span>: absolute;
    <span class="hljs-attribute" style="font-weight: 700;">top</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.96em</span>;
    <span class="hljs-attribute" style="font-weight: 700;">right</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.96em</span>;
    <span class="hljs-attribute" style="font-weight: 700;">cursor</span>: pointer;
    <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color-secondary);
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__text-box</span>{
    <span class="hljs-attribute" style="font-weight: 700;">display</span>: flex;
    <span class="hljs-attribute" style="font-weight: 700;">flex-direction</span>: column;
    <span class="hljs-attribute" style="font-weight: 700;">gap</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">14px</span>;
    <span class="hljs-attribute" style="font-weight: 700;">font-family</span>: <span class="hljs-string" style="color: rgb(136, 0, 0);">'Inter'</span>, sans-serif;
    <span class="hljs-attribute" style="font-weight: 700;">font-style</span>: normal;
    <span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">24px</span>;
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__title</span>{
    <span class="hljs-attribute" style="font-weight: 700;">margin</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">600</span>;
    <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">20px</span>;
    <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color-secondary);
  }

  <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__text</span>{
    <span class="hljs-attribute" style="font-weight: 700;">margin</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0</span>;
    <span class="hljs-attribute" style="font-weight: 700;">font-weight</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">400</span>;
    <span class="hljs-attribute" style="font-weight: 700;">color</span>: <span class="hljs-built_in" style="color: rgb(57, 115, 0);">var</span>(--elements-font-color);
  }


  @<span class="hljs-keyword" style="font-weight: 700;">media</span> screen and (max-width: <span class="hljs-number" style="color: rgb(136, 0, 0);">480px</span>){
    <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__title</span>{
      <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">12px</span>;
    }

    <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__text</span>{
      <span class="hljs-attribute" style="font-weight: 700;">font-size</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">10px</span>;
      <span class="hljs-attribute" style="font-weight: 700;">line-height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">14px</span>;
    }

    <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__close</span>{
      <span class="hljs-attribute" style="font-weight: 700;">width</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.8rem</span>;
      <span class="hljs-attribute" style="font-weight: 700;">height</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">0.8rem</span>;
    }

    <span class="hljs-selector-class" style="color: rgb(136, 0, 0);">.modal__text-box</span>{
      <span class="hljs-attribute" style="font-weight: 700;">gap</span>: <span class="hljs-number" style="color: rgb(136, 0, 0);">10px</span>;
    }
  }</pre>
</div>

           </div>
          </div>

         </main>


       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
