.template{
  /* height: 100vh; */
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  grid-auto-rows: 3.5rem auto 8.125rem;
  grid-template-columns: [start] 11.46% [aside] 1fr [end] 11.46%;
  align-content: center;
  background-color: var(--grey-0);
}

.template__header{
  /* max-width: 1110px; */
  grid-row: 1;
  grid-column: aside / end;
  align-self: end;
  background-color: var(--grey-0);
  /* height: 7.96vh; */
}

.template__main{
  padding: 3.875rem 0 0 0;
  grid-row: 2;
  grid-column: aside / end;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 56px;
  background-color: var(--grey-0);
}

.template__aside{
  grid-column: 1;
}

.template__aside-title{
  margin: 0;
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 1rem;
}

.template__nav{
  display: flex;
  flex-flow: column;
  align-items: start;
}

.template__nav-item{
  text-decoration: none;
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.template__nav-item:focus{
  color: var(--orange-0);
}

.template__nav-item_empty{
  height: 22px;
}

.template__preview{
  grid-column: 2;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
}

.template__footer{
  grid-row: 3;
  grid-column: aside / end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-0);
}

.template__footer-text{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-3);
}
