<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../../assets/css/normolize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="../page/page.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../preview/preview.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../centralContent/central-content.css">
    <link rel="stylesheet" href="../aside/aside.css">
    <link rel="stylesheet" href="../tabs/tabs.css">
    <link rel="stylesheet" href="../../04-lection2/01-histogram/histogram.css">
    <meta charset="utf-8">
    <title>Buttons Element</title>
  </head>


  <body>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__top-bar">
            <div class="header__logo-box">
              <svg class="header__logo" width="110" height="32" viewBox="0 0 110 32"
              fill="none" xmlns="http://www.w3.org/2000/svg">
               <use href="../../assets/icons.svg#main-logo"></use>
              </svg>
            </div>
            <div class="header__toogles">
               <a class="header__ancor" href="#">Components</a>
               <a class="header__ancor" href="#">About</a>
               <a class="header__ancor" href="#">Contact</a>
            </div>
          </div>

          <nav class="header__nav">
          </nav>
         </div>
       </header>


       <section class="central-content">
         <div class="container">
          <div class="central-content__inner">
          <aside class="aside central-content__aside">
            <h4 class="aside__title">Elements</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item">Tooltip</a>
              <a href="#" class="aside__nav-item">Buttons</a>
              <a href="#" class="aside__nav-item">Avatar</a>
              <a href="#" class="aside__nav-item">Checkbox / Radio</a>
              <a href="#" class="aside__nav-item">Toggler</a>
              <a href="#" class="aside__nav-item">Input</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
            </nav>

            <h4 class="aside__title">Components</h4>
            <nav class="aside__navigation">
              <a href="#" class="aside__nav-item">Calendar</a>
              <a href="#" class="aside__nav-item">Modal Window</a>
              <a href="#" class="aside__nav-item aside__nav-item_checked">Histogram</a>
              <a href="#" class="aside__nav-item">Accordion</a>
              <a href="#" class="aside__nav-item">Skeleton</a>
              <a href="#" class="aside__nav-item  aside__nav-item_empty"></a>
              <a href="#" class="aside__nav-item">Main page</a>
            </nav>
          </aside>


         <main class="preview central-content__preview preview_white">

           <div class="preview__element-visual">
             <h3 class="preview__title">Histogram</h3>

             <section class="histogram">
                  <header class="histogram__header">
                      <h3 class="histogram__title">Total orders</h3>
                      <a href="#" class="histogram__views">Views</a>
                  </header>

                  <div class="histogram__total">50254</div>

                  <div class="histogram__chart-box">
                       <div class="histogram__bar" style="height: 100%"></div>
                       <div class="histogram__bar" style="height: 75%"></div>
                       <div class="histogram__bar" style="height: 44%"></div>
                       <div class="histogram__bar" style="height: 70%"></div>
                       <div class="histogram__bar" style="height: 45%"></div>
                       <div class="histogram__bar" style="height: 60%"></div>
                       <div class="histogram__bar" style="height: 65%"></div>
                       <div class="histogram__bar" style="height: 100%"></div>
                       <div class="histogram__bar" style="height: 20%"></div>
                       <div class="histogram__bar" style="height: 25%"></div>
                       <div class="histogram__bar" style="height: 70%"></div>
                       <div class="histogram__bar" style="height: 75%"></div>
                       <div class="histogram__bar" style="height: 11%"></div>
                       <div class="histogram__bar" style="height: 100%"></div>
                       <div class="histogram__bar" style="height: 18%"></div>
                       <div class="histogram__bar" style="height: 22%"></div>
                       <div class="histogram__bar" style="height: 78%"></div>
                       <div class="histogram__bar" style="height: 60%"></div>
                       <div class="histogram__bar" style="height: 44%"></div>
                       <div class="histogram__bar" style="height: 70%"></div>
                       <div class="histogram__bar" style="height: 60%"></div>
                       <div class="histogram__bar" style="height: 22%"></div>
                       <div class="histogram__bar" style="height: 78%"></div>
                       <div class="histogram__bar" style="height: 70%"></div>
                       <div class="histogram__bar" style="height: 90%"></div>
                       <div class="histogram__bar" style="height: 60%"></div>
                       <div class="histogram__bar" style="height: 22%"></div>
                       <div class="histogram__bar" style="height: 60%"></div>
                       <div class="histogram__bar" style="height: 22%"></div>
                       <div class="histogram__bar" style="height: 70%"></div>
                       <div class="histogram__bar" style="height: 34%"></div>
                  </div>
             </section>
           </div>

           <div class="preview__code-example">
             <div class="tabs">
              <input class="tabs__radio-input" type="radio" id="html" name="tabs" checked>
              <input class="tabs__radio-input" type="radio" id="css" name="tabs">


            <div class="tabs__scroller tabs__scroller_padding-top tabs__scroller_white
            preview__tab">
                <label class="tabs__label tabs__label-padding-small" for="html">
                  HTML</label>
                <label class="tabs__label tabs__label-padding-small" for="css">
                  CSS</label>
            </div>

            <div class="tabs__content tabs__html preview__tab-content tabs__content-max-height">
            </div>

            <div class="tabs__content tabs__css preview__tab-content tabs__content-max-height">
            </div>

           </div>
          </div>

         </main>


       </div>
      </section>

     <footer class="footer">
       <div class="container">
       <h5 class="footer__text">REUSABLE COMPONENT LIBRARY</h5>
      </div>
     </footer>

    </div>
  </body>
</html>
