.preview{
  background-color: var(--grey-0);
  padding: 67px 0 204px;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.preview_no-box-shadow{
  box-shadow: none;
}

.preview__inner{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 480px){
  .preview{
    padding: 1.25rem 0;
    gap: 1rem;
  }

 .preview__inner{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: 1fr;
   gap: 16px;
 }
}

/*реализация темной темы*/
html[data-theme-dark] .preview{
  background-color: var(--grey-4);
}
