.preview{
  background-color: var(--grey-0);
  padding: 1rem 0 4rem;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.preview_white{
  background-color: var(--white);
}

.preview__inner{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.preview__title{
  font-family: 'Inter', sans-serif;
  color: var(--grey-4);
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  margin: 16px 0;
}

.preview__element-visual, .preview__tab, .preview__tab-content{
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--white);
}

.preview__groups{
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin-bottom: 24px;
}

.preview__groups:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 480px){
  .preview{
    padding: 1rem 0 1rem;
  }

 .preview__inner{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: 1fr;
   gap: 16px;
 }

 .preview__element-visual, .preview__tab, .preview__tab-content{
   padding-left: 1.5rem;
   padding-right: 1.5rem;
 }
}
