.preview{
  background-color: var(--white);
  padding: 67px 0 204px;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.preview__inner{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
