.input__label{
  color: var(--input-font-color);
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.input__typing{
  box-sizing: border-box;
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: var(--grey-4);
  background-color: var(--input-background);
  padding: 0.65em 0 0.65em 1.5rem;
  width: 100%;
  transition: outline 300ms ease-in-out, border 300ms ease-in-out;
}

.input__typing_small{
 padding: 0.35em 0 0.35em 0.75rem;
}

.input__icon{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1.125em;
  right: 1.125rem;
}


/*описание молекулярного элемента с модификаторами*/
.input__dataInArea{
  position: relative;
}

.input__dataInArea_invalid .input__typing{
  border: 1px solid var(--error);
}

.input__dataInArea_invalid .input__icon{
  color: var(--error);
}

.input__dataInArea_success .input__icon{
  color: var(--blue);
}
/*-----------------------------------------------*/


.input{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}


/*реализация состояний*/
.input__typing:focus{
   box-shadow: var(--input-shadow);
   outline: 1px solid var(--elements-focus-background);
}

.input__typing:disabled{
  background-color: var(--input-disabled);
  border-color: transparent;
}


@media screen and (max-width: 480px){
  .input__label{
    font-size: 0.65rem;
    line-height: 1rem;
  }

  .input__icon{
    width: 16px;
    height: 16px;
    top: 0.6em;
    right: 0.75rem;
  }

  .input__typing{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.65em 0 0.65em 1rem;
  }
}
