.input__label{
  color: var(--grey-3);
  font-size: 0.75rem;
  line-height: 1.125rem;

}

.input__typing{
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: var(--grey-2);
  padding: 0.65em 0 0.65em 1.5rem;
}

.input__icon{
  color: blue;
}

.input{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.input__typing:focus{
   box-shadow: var(--input-shadow);
   outline: 1px solid var(--purple-3);
}
